@import "../../../styles.var.scss";
ul,
li {
    list-style: none;
}
.sidenav {
    font-weight: 500;
    transition: $transition-base;
    width: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: mix(#fff, mix($primary, $secondary, 80%), 93%);
    padding-bottom: 15px;
    &::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 2px;
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        width: 5px;
        position: absolute;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: transparent;
    }
    &:hover,
    &:focus {
        &::-webkit-scrollbar {
            background: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(194, 194, 194);
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }
    }
    .nav {
        margin-top: 0.36rem;
    }
}

.divider {
    padding: 10px 20px;
    font-size: 13px;
}
.nav-link {
    border-radius: 0;
    padding: 10px 20px;
    &.active,
    &:hover {
        background-color: mix($primary, rgba(0, 0, 0, 0), 20%);
        color: $primary !important;
        .material-icons {
            color: $primary;
        }
        @at-root {
            .active {
                background-color: $primary;
                a {
                    color: #fff;
                }
            }
        }
    }
}

a,
span {
    font-size: 13px;
    .material-icons {
        font-size: 1.35rem;
        margin-right: 12px;
        color: $primary;
        @at-root {
            a,
            span {
                display: flex;
                align-items: center;
            }
        }
    }
}
li {
    margin: 2px 0;
    ul {
        position: relative;
        margin-left: 33px;
        &:before {
            content: "";
            background-color: $primary;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0px;
            width: 3px;
        }
        li {
            margin: 0;
            position: relative;
            &:after {
                content: "";
                background-color: $primary;
                position: absolute;
                left: -20px;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }
    }
}
.child-link {
    position: relative;
    &:after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid #0000;
        border-bottom: 0;
        border-left: 0.3em solid #0000;
        position: absolute;
        right: 20px;
        transform: rotate(-90deg);
        transition: $transition-base;
    }
    &.a-expanded:after {
        transform: rotate(0deg);
    }
}

.sub-child {
    height: 0;
    transform: scaleY(0);
    transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transform-origin: top;
    &.expanded {
        transform: scaleY(1);
        height: auto;
    }
}
